$background-color: pink;

* {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: $background-color;
}

#root {
  height: 100%;
}

.App {
  height: 100%;
  background: yellow;

  display: flex;
  flex-flow: column nowrap;
}

.TitleBar {
  height: 44px;
  flex: 0 0 auto;
  background: purple;
}

.TabBar {
  height: 44px;
  flex: 0 0 auto;
  background: green;
}

.Content {
  flex: 1 1 auto;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

