<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="<%= static_path(@conn, "/apple-touch-icon.png") %>">
    <title>Fugle</title>
  </head>

  <body>
    <main role='main' id='main'>
      <%= render @view_module, @view_template, assigns %>
    </main>

    <%= if Mix.env == :dev do %>
      <script src='//localhost:4001/index.bundle.js'></script>
    <% else %>
      <script src='<%= static_path(@conn, "/js/index.bundle.js") %>'></script>
    <% end %>
  </body>
</html>
