<!doctype html>
<html>
  <head>
    <title><%= @title %></title>
    <meta property="og:title" content="<%= @title %>">
    <meta property="og:url" content="<%= @url %>">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= @image %>">
    <meta property="og:site_name" content="<%= @title %>">
    <meta property="fb:admins" content="mikkelmalmberg">
    <meta property="fb:app_id" content="469433496581008">
    <meta property="og:description" content="<%= @text %>">
    <%= if Mix.env == :prod do %>
      <meta http-equiv="refresh" content="1;url=https://fugle.drdinstem.me">
    <% end %>
  </head>
  <body>
    Redirecting ...
  </body>
</html>
