<h2>New sighting</h2>

<%= render "form.html", changeset: @changeset,
                        action: admin_sighting_path(@conn, :create) %>

<%= link "Back", to: admin_sighting_path(@conn, :index) %>
