<h2>New bird</h2>

<%= render "form.html", changeset: @changeset, habitats: @habitats,
                        action: admin_bird_path(@conn, :create) %>

<%= link "Back", to: admin_bird_path(@conn, :index) %>
