@import '../../lib/variables';
@import '../../lib/mixins';

.TabBarNavigation {
  height: 52px;
  flex: 0 0 auto;
  background: $creamDark;
  display: flex;
}

.TabBarButton {
  @include blockyText;
  display: block;
  width: 50%;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $creamDarkest;
}

.TabBarButton-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: .25em;
}

.TabBarButton-inner svg {
  position: relative;
  bottom: -.025em;
  display: block;
}

/* Tab text */
.TabBarButton-inner > span {
  padding-top: .15em;
}

/* Center line */
.TabBarButton:first-child  { box-shadow: inset -1px 0 0 $creamDarker; }
.TabBarButton:nth-child(2) { box-shadow: inset 1px 0 0 $creamDarker; }

/* My sightings */
.TabBarButton:nth-child(2) {
  .TabBarButton-inner svg { margin-bottom: 1px; }
}

/* Active states */
.TabBarButton.active { color: $marine; }

.TabBarButton.active svg path {
  fill: $marine;
}
